---
import '../styles/global.css';
---
<nav>
  <div>
    <a href='/'' class='site-title'>
      Crimiro
    </a>
  </div>
</nav>

<style>
  nav {
    padding: 2.5rem 5rem;
    display: flex;
    justify-content: space-between;
  }
  .site-title {
		color: var(--text-principal);
		text-decoration: none;
	}
  .nav-items-content {
    background-color: lightblue;
    padding: 0.5rem 1rem;
    border-radius: 30px;
  }
  .nav-page-section-text {
    color: var(--text-principal);
		text-decoration: none;
    padding: 6px;
    border-radius: 30px;
  } 
  .nav-page-section-text:hover {
    background-color: aquamarine;
  } 
  .nav-page-section-text:hover {
    color: var(--text-principal-hover);
  } 
</style>